.page-header{
	text-align: center;
}

#container{
	background-color: #555555;
}

#about{
	padding: 30px;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
}

#about h1{
	line-height: 1;
}

#about p{
	line-height: 1.4;
}

h1, p{
	color : #EFEBD6;
	font-family: "Helvetica", Arial, sans-serif;
}

#newForm {
	text-align: center;
	padding: 32px 16px 32px 16px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {
	text-decoration:none;
	font-size: 16px;
}

#timersViewerContainer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
}
a:active {text-decoration:none;}